@{
	ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
	To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>


<script type="text/javascript">
    $(function() {
        var hub = $.connection.messagingHub;

        $.connection.hub.start().done(function() {
            hub.sendMessage('Done');
        });
    });
</script>